* {
    box-sizing: border-box;
    margin: 0;
}
/*  MENU   */
a {
    color: #FFA500;
    text-decoration: none;
    transition: 0.3;
}
a:hover {
    opacity: 0.7;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
    height: 8vh;
    font-weight: bold;
}   
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    margin-left: 32px;
}
.menu {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

/* Menu responsivo */
@media(max-width: 767px) {
    .logo nav {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px) {
    .logo nav {
        width: 100%;
    }
}

/* Produtos */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    top: 100%;
    text-align: center;
    justify-content: center;
}
.produtos {
    width: 300px;
    height: 510px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}
.produtos img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.produtos hr{
    margin-bottom: 10px;
    margin-top: 20px;
}
.produtos button {
    width: 100%;
    background-color: transparent;
    border: 2px #ffee00 solid;
    border-radius: 5px;
    padding: 6px;
    font-size: 15pt;
    cursor: pointer;
    text-transform: uppercase;
    transition: .2s;
    font-weight: bold;
}
.produtos button:hover {
    background-color:#FFA500;
    letter-spacing: 3px;
}
.pag-construct {
    padding: 50px 0px 0px 0px;
}
.pag-construct img{
    padding: 30px 0px 0px 0px;
    height: 300px;
    width: 500px;
}